---
import type { CollectionEntry } from 'astro:content';
import Chip from '../ui/Chip.astro';
import Link from '../ui/Link.astro';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;

---

<article class="project-card animate-on-scroll">
  <div class="left-container">
    <header>
      <h3>{project.data.project}</h3>
    </header>

    <p class="description">
      {project.body}
    </p>

    <footer>
      {project.data.links && (
        <ul class="links">
          {project.data.links.map((link) => (
            <li>
              <Link text={link.text} href={link.url} external={true} />
            </li>
          ))}
        </ul>
      )}

      {project.data.tech && (
        <ul class="tech-stack">
          {project.data.tech.map((tech) => (
            <li>
              <Chip text={tech} />
            </li>
          ))}
        </ul>
      )}
    </footer>
  </div>

  <div class="right-container">
    <img src={project.data.pic.src} alt={project.data.pic.alt} loading="lazy" />
  </div>
</article>

<style>
.project-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 1.25rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .left-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
  }

  .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    
    h3 {
      font-size: 1.25rem;
      font-weight: 700;
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 300;
      color: var(--color-text-primary);
      margin-top: 0.25rem;
    }
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
  }

  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }

  img {
    width: 240px;
    height: 150px;
    object-fit: fill;
    object-position: center;
    border-radius: 20px;
  }
}

</style>
