---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components'

interface Props {
  about: CollectionEntry<'about'>;
}

const { about } = Astro.props;

---

<section id="about">
	<h1>{about.data.name}</h1>
	<h2>{about.data.role}</h2>
	<p>{about.body}</p>
	<ul class="links">
		{about.data.links.map((link) => (
			<li>
				<a href={link.url} target="_blank" rel="noopener noreferrer">{link.text}
					<Icon name={link.icon} />
				</a>
			</li>
		))}
	</ul>
</section>

<style>
</style>
