---
import type { CollectionEntry } from 'astro:content';
import Chip from '../ui/Chip.astro';
import Link from '../ui/Link.astro';

interface Props {
  experience: CollectionEntry<'experience'>;
}

const { experience } = Astro.props;

/**
 * Format given date/ date-string to month-year format
 * Example: "Jul. 2020"
 * 
 * @param date: Input date
 * @return Formatted string
 */
export function formatDateToMonthYear(date: Date | string): string {
  if (date === "Present") {
    return date;
  }

  const d = typeof date === "string" ? new Date(date) : date;
  const month = new Intl.DateTimeFormat("en-US", { month: "short" }).format(d);
  const year = d.getFullYear();
  return `${month}. ${year}`;
}

---

<article class="experience-card">
  <header>
    <h3>{experience.data.role}</h3>
    <h4>
      {experience.data.company} | {formatDateToMonthYear(experience.data.startDate)} - {formatDateToMonthYear(experience.data.endDate)}
    </h4>
  </header>

  <p class="description">
    {experience.body}
  </p>

  <footer>
    {experience.data.links && (
      <ul class="links">
        {experience.data.links.map((link) => (
          <li>
            <Link text={link.text} href={link.url} external={true} />
          </li>
        ))}
      </ul>
    )}

    {experience.data.tech && (
      <ul class="tech-stack">
        {experience.data.tech.map((tech) => (
          <li>
            <Chip text={tech} />
          </li>
        ))}
      </ul>
    )}
  </footer>
</article>

<style>
.experience-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;

  header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h3 {
      font-size: 1.125rem;
      font-weight: 700;
    }

    h4 {
      font-size: 1.125rem;
      font-weight: 300;
      color: var(--color-text-primary);
      margin-top: 0.25rem;
    }
  }

  .description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
  }

  .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
}
</style>
